<body>
  <div class="container" >

    <div class="row" >
      <div class="col-sm-6" >
        <div class="card" style="border: 2px solid black;box-shadow: 10px 10px #888888;">
          <div class="card-body" >
            <h3 class="card-title">ABOUT ME</h3><br><br>
            <ul style="font-size:medium;font-weight:800;font-family:'Times New Roman', Times, serif;">
              <li>I DONE MY GRADUATION. BSc.IT</li><br><br>
              <li>AT THIS MOMENT I AM LOOKING FOR OPPORTUNITIES.</li><br><br>
              <li>I HAVE POSITIVE APPROCH TOWARDS TOUGH SITUATION</li><br><br>
              <li>PASSOUT BACTH 2022</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="border: 2px solid black;box-shadow: 10px 10px #888888;">
          <div class="card-body">
            <h3 class="card-title">BASIC INFORMATION</h3><br>
            <ul style="font-size:medium;font-weight:800;font-family:'Times New Roman', Times, serif;">
              <li>DATE OF BIRTH:- 13/04/2002</li><br>
              <li>EMAIL ID:- tejasbandekar4281@gmail.com</li><br>
              <li>MOBILE NO:- 9082464574</li><br>
              <li>LANGUAGE :- ENGLISH , HINDI , MARATHI.</li><br>
              <li>ADDRESS :- SAIDHAM ASSOCIATION SECTOR 01E KALAMBOLI. </li><br>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
