.card{
  margin-top: 50px;

}
.card-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: 800;
}
.card:hover{
  color: black;
  background-color: cornsilk;
}
/* .ul.li{
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: 800;
} */
