<h1 class="text">EXPERIENCE</h1>



<div class="container">
  <div class="row align-items-center vh-100">
      <div class="col-6 mx-auto">
          <div class="card shadow border">
              <div class="card-body d-flex flex-column align-items-center" style="box-shadow: 10px 10px 10px #cccccc;">
                 <img src="/assets/images/fresher.jpg" class="image" height="210px" width="400px"><br>
                 <!-- <h1 class="text">FRESHER</h1> -->
              </div>
          </div>
      </div>
  </div>
</div>
