<section class="home" id="home">

</section>

<div class="container">
  <div class="row align-items-center vh-100">
      <div class="col-6 mx-auto">
          <div class="card shadow border" *ngFor="let data of data">
              <div class="card-body d-flex flex-column align-items-center" style="box-shadow: 10px 10px 10px #cccccc;">
                 <img src="/assets/images/tejas.jpeg" class="image" height="120px" width="120px"><br>
                 <h1 class="text">TEJAS BANDEKAR</h1>
                 <h4 class="text"> FULL STACK DEVELOPER</h4><br>
                 <!-- <h4 class="text"> https://github.com/Tej4281?tab=repositories</h4><br> -->
                 <button type="button" class="btn btn-warning"  ><a href="https://github.com/Tej4281" style="font-family:'Times New Roman', Times, serif;color:black">PROJECTS</a></button>
              </div>
          </div>
      </div>
  </div>
</div>
<br><br>
